{% extends "layout.html" %}
{% block title %}Explore{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h2>Crunchly</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" id="query" class="form-control input-lg" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-info btn-lg" id="explore" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div id="results">

</div>
<script src="/static/js/explore.js"></script>
{% endblock %}
